body {
  background-color: rgb(235, 235, 235);
  font-family: "Comfortaa", cursive;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2,
h3,
h4 {
  font-size: 20px;
}

.game-board {
  background-color: gray;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  justify-content: center;
  margin: 0 auto;
  border: 5px solid gray;
  border-radius: 5px;
}

.board-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid gray;
}

div[value="0"] {
  background-color: lightgray;
}

div[value="2"] {
  content: url(/Images/2Tile.png);
  height: 90px;
  width: 90px;
}

div[value="4"] {
  content: url(/Images/4Tile.png);
  height: 90px;
  width: 90px;
}

div[value="8"] {
  content: url(/Images/8Tile.png);
  height: 90px;
  width: 90px;
}

div[value="16"] {
  content: url(/Images/16Tile.png);
  height: 90px;
  width: 90px;
}

div[value="32"] {
  content: url(/Images/32Tile.png);
  height: 90px;
  width: 90px;
}

div[value="64"] {
  content: url(/Images/64Tile.png);
  height: 90px;
  width: 90px;
}

div[value="128"] {
  content: url(/Images/128Tile.png);
  height: 90px;
  width: 90px;
}

div[value="256"] {
  content: url(/Images/256Tile.png);
  height: 90px;
  width: 90px;
}

div[value="512"] {
  content: url(/Images/512Tile.png);
  height: 90px;
  width: 90px;
}

div[value="1024"] {
  content: url(/Images/1024Tile.png);
  height: 90px;
  width: 90px;
}

div[value="2048"] {
  content: url(/Images/2048Tile.png);
  height: 90px;
  width: 90px;
}

div[value="4096"] {
  content: url(/Images/4096Tile.png);
  height: 90px;
  width: 90px;
}

div[value="8192"] {
  content: url(/Images/8192Tile.png);
  height: 90px;
  width: 90px;
}
