body {
  background-color: rgb(235, 235, 235);
  font-family: "Comfortaa", cursive;
  text-align: center;
}

h1 {
  font-size: 100px;
  margin: 0vw 01vh;
}

#win-scenario-modal {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#lose-scenario-modal {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#win-modal-textbox {
  background-color: rgb(154, 205, 50, 0.9);
  height: 400px;
  width: 400px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#lose-modal-textbox {
  background-color: rgb(255, 102, 0, 0.9);
  height: 400px;
  width: 400px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#board-scores-controls {
  display: flex;
  justify-content: center;
}

.game-board {
  background-color: gray;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  border: 5px solid #808080;
  border-radius: 5px;
  margin: 50px;
}

.board-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #808080;
}

div[value="0"] {
  background-color: #d3d3d3;
}

div[value="2"] {
  content: url(/Images/2Tile.png);
  height: 90px;
  width: 90px;
}

div[value="4"] {
  content: url(/Images/4Tile.png);
  height: 90px;
  width: 90px;
}

div[value="8"] {
  content: url(/Images/8Tile.png);
  height: 90px;
  width: 90px;
}

div[value="16"] {
  content: url(/Images/16Tile.png);
  height: 90px;
  width: 90px;
}

div[value="32"] {
  content: url(/Images/32Tile.png);
  height: 90px;
  width: 90px;
}

div[value="64"] {
  content: url(/Images/64Tile.png);
  height: 90px;
  width: 90px;
}

div[value="128"] {
  content: url(/Images/128Tile.png);
  height: 90px;
  width: 90px;
}

div[value="256"] {
  content: url(/Images/256Tile.png);
  height: 90px;
  width: 90px;
}

div[value="512"] {
  content: url(/Images/512Tile.png);
  height: 90px;
  width: 90px;
}

div[value="1024"] {
  content: url(/Images/1024Tile.png);
  height: 90px;
  width: 90px;
}

div[value="2048"] {
  content: url(/Images/2048Tile.png);
  height: 90px;
  width: 90px;
}

div[value="4096"] {
  content: url(/Images/4096Tile.png);
  height: 90px;
  width: 90px;
}

div[value="8192"] {
  content: url(/Images/8192Tile.png);
  height: 90px;
  width: 90px;
}

h2,
h3 {
  font-size: 20px;
}

#scores-controls {
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  width: 400px;
  margin: 50px;
}

/* Score Counters */

/* #score-counters {
  background-color: yellowgreen;
} */

/* Game Buttons */

/* #game-buttons {
  background-color: lightskyblue;
} */

#new-game-button {
  background-color: transparent;
  border: none;
  padding: none;
}

#new-game-img {
  height: 75px;
  width: 75px;
}

.direction-button {
  background-color: transparent;
  border: none;
  padding: none;
}

.direction-img {
  height: 75px;
  width: 75px;
}

#left-button {
  margin-right: 50px;
}

#right-button {
  margin-left: 50px;
}

/* Instructions */

/* #game-instructions {
  background-color: lightseagreen;
} */

#instructions-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

#show-instructions-img {
  height: 20px;
  width: 20px;
}

#show-instructions {
  background-color: transparent;
  border: none;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  margin: 5px;
}

#instruction-text {
  display: none;
}
